/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

header {
  background-color: pink;
}
header nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr;
}
nav .nav-menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.brand-ico {
  width: 7vw !important;
  height: 7vh !important;
}
.icon-size {
  width: 5vw;
  height: 5vh;
  display: inline-block;
}
.admin-logo p {
  display: inline;
}
.nav-menu .nav-menu-1 {
  list-style-type: none;
}
.nav-menu .nav-menu-2 {
  list-style-type: none;
}

main {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5fr;
}

main .top-container {
  grid-column: 1/3;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.top-container .search-container {
  display: grid;
  grid-template-columns: 8fr 1fr 2fr;
}

.search-container .mini-profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mini-profile-container .img-container {
  width: 50px;
  height: 50px;
}

.top-container .project-option-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.project-option-container .project-button ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
}
.project-button ul button {
  background-color: aqua;
  border: 1px solid white;
  border-radius: 7px;
  padding: 5px 40px;
  margin: 0 6px;
}
.project-option-container .profile {
  display: grid;
  grid-template-columns: 1fr 4fr;
  line-height: 5vh;
  justify-content: center;
  align-items: center;
}
.profile .img-container {
  width: 100px;
  height: 100px;
}

main .article-container {
  grid-column: 1/2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px repeat(auto-fit, minmax(100px, 40%));
  gap: 10px;
}
.article-container h3 {
  grid-column: 1/3;
}

main .trend-container {
  grid: 2/3;
}
main .announcement-container {
  grid-column: 2/3;
}

.img-container {
  background-color: rgb(194, 190, 190);
  width: 50px;
  height: 50px;
  position: relative;
  overflow: auto;
  border-radius: 50%;
}

.img-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card {
  background-color: white;
  width: 25vw;
  margin: 5px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card .card-header {
  grid-column: 1/3;
}

.card .card-body {
  grid-column: 1/3;
  grid-row: 2/3;
}

.card-option {
  grid-column: 2/3;
  margin-top: 1vh;
  align-self: center;
}

.card-option .project-button {
  background-color: none;
  border: none;
  outline: none;
  background: none;
}
.card-option .project-button:hover {
  background-color: rgba(100, 100, 100, 0.1);
  border-radius: 50%;
}
.card-option .project-button:active {
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: 50%;
}
.card-option ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 0;
  justify-items: center;
}
